{erl_opts, [debug_info]}.
{deps,
    [
	{json_polyfill, "~> 0.2"}
	,{euneus, "~> 2.4"}
	,{mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp",{tag, "1.9.0"}}}
	,{epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.7.1"}}}
	,{poolboy, {git, "https://github.com/devinus/poolboy", {tag, "1.5.2"}}}
	,{cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.13.0"}}}
    ]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [myapp]}
]}.
